 <div id="container"> 

<div id="main"> 
 <div id="sidebar"> 
 <div class="subs">
       <img src="images/Untitled-1-Recovered_11.png" alt="" width="265" height="161" class="image"/> 
      <p>this is great cars ,3rs</p>
      </div>
      
      <div class="subs">
       <img src="images/Untitled-1-Recovered_11.png" alt="" width="265" height="161" class="image"/> 
      <p>this is great cars ,3rs</p>
      </div>
      </div> 
      <div id="content-container">
     <div class="content"> 
<h1 id="h1">welcome to the website</h1>
<p>After helping people with their feline behavior problems since 1990, we began to realize that there were a few common issues that all cat parents seemed to be experiencing. We took those common problems, broke them down into various subcategories, and posted our solutions on this page. This archive is by no means the complete listing of every possible feline problem, but we fig .</p>
      </div> 
      <div class="content"> 
<h1 id="h2">welcome to the website</h1>
<p>After helping people with their feline behavior problems since 1990, we began to realize that there were a few common issues that all cat parents seemed to be experiencing. We took those common problems, broke them down into various subcategories, and posted our solutions on this page. This archive is by no means the complete listing of every possible feline problem, but we fig .</p>
      </div> 
          <div class="content" id="content3"> 
          <div class="sub-content" id="sub2">
          <h2>This is the content for Layout H2 Tag</h2>
          <p>This is the content for Layout P Tag</p>
          </div>
          <div class="sub-content" id="sub1">
          <h2>This is the content for Layout H2 Tag</h2>
          <p>This is the content for Layout P Tag</p>
          </div>
          
      </div>
     </div>
</div> 

</div> 
</div>     
 