<div id="carnamelogo">
   <div id="carlogo"></div>
   <div id="carname">هيونداي /  النترا 2016 / مانيوال </div>
   </div>
  <div id="general-info">
  		<div id="top" class="sections">
  			<div  class="info" >
        		<p class="info-header" id="price">السعر</p>
            	<p class="info-data"> 180,000<br>جنيه</p>
        	</div>
        	<div  class="info" >
        		<p class="info-header" id="cc">سعة المحرك</p>
            	<p class="info-data"> 1600 <br> سي سي </p>
        	</div> 
        	<div  class="info">
        		<p class="info-header"  id="taseet">تقسيط</p>
            	<p class="info-data"> 1200<br> جنيه\شهر</p>
        	</div>
        	<div  class="info" >
        		<p class="info-header" id="moadam">اقل مقدم</p>
            	<p class="info-data">40,000<br>جنيه</p>
        	</div>
        </div>   
  </div>
     <div id="imageslider" class="sections"> 
     
     <h3> البوم العربية </h3>   
  	     <!-- Fotorama -->
   
 <div class="fotorama" data-nav="thumbs" data-thumbwidth="80px"   data-keyboard="{"space": true, "home": true, "end": true, "up": true, "down": true}">
     

 <% @model.car_images.each do |image| %>
    <%=link_to image_tag(image.avatar.url(:thumb)), image.avatar.url%>
 <% end %>

      

</div>
    
    </div>
    
    <div id="tabs" class="sections">
     <ul>
       <li><a href="#tabs-1">مواصفات</a></li>
       <li><a href="#tabs-2"> معارض </a></li>
    <li><a href="#tabs-3">صور</a></li>
  
  </ul>
  <div id="tabs-1">
  <div id="accordion">
     <h3>الشكل الخارجي </h3>
  <div>
    <table >
    
    <% @car.specs.sorted.each do |spc| %>
    <tr>
    <td> <%=spc.name_ar=%> </td>
    <td> <%=spc.car_specs.where(:car_id => @car.id).first.value_ar=%> </td>   
    </tr>
    <% end %>
    </table>
  </div>
  <h3>الموتور</h3>
  <div>
    <table >
    <tr>
    <td> سعة الموتور</td>
    <td>  قوية فشخ</td>   
    </tr>
    <tr>
    <td> عدد  الابواب</td>
    <td>  4</td>   
    </tr>
    <tr>
    <td> الريحة</td>
    <td>معفنة</td>   
    </tr>
    <tr>
    <td>  السرعة </td>
    <td>  بطيئة</td>   
    </tr>
    </table>
  </div>
  <h3>الاداء</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div>
  <h3>عامة</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    mauris vel est.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>
  </div>
  <div id="tabs-2">
    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
  </div>
  <div id="tabs-3">
    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
  </div>
    
    </div>
    <div class="sections" id="reviews">
      <h3>رأي اللي ساقها </h3>
     
    </div>
    <div class="sections">
    <h3> معارض فيها العربية </h3>
    
    </div>