/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require cars-style
 */

@font-face{
    font-family:"first-font";
    src: url(tunisia.ttf);


}
/*------------------------------------------------------*/
.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    /* z-index: -1;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*--------------------------------------------------------------*/
* {
    box-sizing: border-box;
    font-family: first-font;
    font-size: 20px;
}
body {
    margin: 0;
    /*padding-top: 130px;*/
    background-color:#E5E5E5;

}
header {
    height: 130px;
    /* background: #eeeeee;*/
    background:#87318c;

}
.slides{
    display: flex;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
    flex-direction:row-reverse;

}

.main-nav,
.main {
    position: relative;
}
.main-nav {
    background-color: #000000;
    z-index: 150;
    display: flex;
    justify-content: space-between;


    border-top: 4px solid  #f18d05;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
/*header,*/
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;

}
.main{
//	background-color: #e5e5e5;
}

.mainscrolled{
    margin-top : 50px;
}

nav ul {list-style:none;margin:0px;padding:0px;}


nav ul::after { content:'';display:block; clear:both;}
nav ul li:hover {background-color:#12C421; }
nav ul li:hover > ul { display:block;}

nav ul li a { display:inline-block ;color :#fff ;padding: 10px 20px ;
    text-decoration:none; width:130px ; }
nav ul li a:hover{background-color:#13B0C9;	}


nav ul ul {display:none;position:absolute;top:100% ; background-color:#42DD23 }
nav ul ul li {
    position: relative;
    border-bottom: thin solid #B11517;
}
nav ul ul ul {  left:100% ; top:0 ; }

/* top level */
nav>ul {padding-left:35px ;}
nav > ul > li {float:left;  }
nav > ul > li> a  { padding: 10px 20px 15px 20px ; text-align:center}
.main-nav .rightcorner {

}


.footer {
    height: 250px;
    background-color: #373737;
    width: 100%;
    border-top: thick solid  #FD8C00;
    clear: both;
}

#first{
    background-color: #87318c;
    flex-grow: 1;
    padding-top: 20px;
    position: relative;
}
#first:before {
    background-color: #057370;
    opacity:.9;
    content:"اختار عربيك اللي محتاجها " ;
    padding-top: 50px;
}
#second{
    padding-top: 58px;
    background-color: #e54028;
    flex-grow:1;
}
#second:before {
    background: #fd8c00;
}
#third{
    flex-grow:1;
    background-color: #f18d05;
    padding-top: 58px;
}
#third:before {
    background: #057370;
}
#forth{
    background-color: #7db500;
    flex-grow:1;
    padding-top: 58px;
}
#forth:before {
    background: #d70000;
}#fifth{
     background-color: #00a1cb;
     flex-grow: 1;
     padding-top: 58px;
 }
#fifth:before {
    background: #2e0726;

}
#logo {
    background-color:#2e0726;

}
#logo:before {
    background: #7DB500;
    content: url(images/logo2.png);
}

.slides #logo #image-logo {

}
.main-nav .nav-elements {
    padding-right:120px;
}

.main-containter {

    width:978px;

    padding-top:20px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}


.top_section {
    width: 652px;
    float: right;
}
#aside{
    float:left;
    width:310px;
    height:800px;
}
h3{
    font-weight: normal;

}


.sections{
    background-color: #FFFFFF;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 6px -2px;
    box-shadow: 0px 0px 6px -2px;
}

.section_header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFFFFF;
    height:45px;
    padding-right: 9px;
    padding-top: 3px;
    background-image: -webkit-linear-gradient(270deg,rgba(250,159,34,1.00) 0%,rgba(241,141,5,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(250,159,34,1.00) 0%,rgba(241,141,5,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(250,159,34,1.00) 0%,rgba(241,141,5,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(250,159,34,1.00) 0%,rgba(241,141,5,1.00) 100%);
    border: 1px solid #DC8004;
    font-size: x-large;
}