  <!doctype html>
  <html dir="rtl">
  
  <head>
  
 
  
  <meta charset="utf-8">
    <link rel="stylesheet" href="cars-style.css" />
      <link rel="stylesheet" href="jquery-ui.css" />
     <link rel="stylesheet" href="fotorama.css" />    
  
  
    
  </head>
  
  <body>
   
  <header id="header">
   
    <div class="slides">
   <div id="first" class="hvr-bounce-to-top"><img src="images/car-icon.png" width="50" height="50" alt=""/> <p>سيارات جديدة</p> </div>
    <div id="second" class="hvr-bounce-to-top"> نقيلي </div>
   <div id="third" class="hvr-bounce-to-top">مراكز خدمة </div>
   <div id="forth" class="hvr-bounce-to-top"> أخبار</div>
   <div id="fifth" class="hvr-bounce-to-top">كسر زيرو </div>
   <div id="logo" class="hvr-bounce-to-top"><img src="images/logo.png" width="408" height="77" alt="" id="image-logo" /></div>
  </div> 
  </header>
  
  <nav class="main-nav">
     <ul class="nav-elements">
     <li> <a href="google.com"> بحث</a>
        <ul>
         <li> <a href="sub1-main"> sub1-main</a>
         <ul>
         <li> <a href="sub1-sub1-main">  sub1-sub1-main</a></li>
        <li> <a href="sub2-sub1-main">sub2-sub1-main</a></li>
        <li> <a href="sub3-sub1-main"> sub3-sub1-main</a></li>
        </ul>
         
         </li>
        <li> <a href="sub2-main"> sub2-main</a></li>
        <li> <a href="sub3-main"> sub3-main</a>
            <ul>
         <li> <a href="sub1-sub1-main">  sub1-sub1-main</a></li>
        <li> <a href="sub2-sub1-main">sub2-sub1-main</a></li>
        <li> <a href="sub3-sub1-main"> sub3-sub1-main</a></li>
        </ul>
        
        </li>
        </ul>
      </li>
     <li> <a href= "google.com" > مستعمل</a> 
     <ul>
         <li> <a href="sub1-main2"> sub1-main2</a></li>
        <li> <a href="sub2-main2"> sub2-main2</a></li>
        <li> <a href="sub3-main3"> sub3-main2</a></li>
        </ul>
     </li>
     <li> <a href= "google.com" >عربية جديدة  </a></li>
     <li><a href= "google.com" >الرئيسية </a></li>
     </ul>
     
      <div class="rightcorner"></div>
   </nav>
  <!--main section-->
  
  <div class="main">
  <div class="main-containter">
  
   <section class="top_section" id=" ">
    <%= yield %>

    </section>
   
    
    <aside id="aside" class="sections">
    <div id="h1">
  
    
     </div>
    </aside>
    </div>
   
  

  <footer class="footer">Content for New footer Tag Goes Here</footer>
   
  <%= stylesheet_link_tag ('public') %>
  <%= javascript_include_tag('public')  %>
   
  </body>
  </html>










