<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%# I have moved the style tag to assets/stylesheets/egypt%>
</head>
<body>
<div id="container"> 
<div id="header">
    <div id="logos">
    <%= link_to image_tag("Untitled-1-Recovered_03.png", width: "431"), root_path ,title: "6-cylinder", target: "_self", id: "logo"%>
    </div> 
      <div id="banner"> 

    </div> 
       <div id="navbar"> 
         <ul>
           <li><a href="#" title="about" target="_self">بحث</a></li>
           <li><a href="#"> جديد </a></li>
           <li><a href="#" title="repaired" target="_top">مستعمل </a></li>
           <li><a href="#"> خدمات </a></li>
           <li><a href="#"> بنزين </a></li>
           <li><a href="#"> تأمين</a></li>
         </ul>
      </div> 
</div> 
<%= yield %>
<div id="footer"> 
  <p> this is the footer </p>
     <div id="nav">  

    </div> 
      <div id="social media"> 

    </div> 
       <div id="contact"> 
           
    </div>
    <%= stylesheet_link_tag ('public') %>
    <%= javascript_include_tag('public')  %>
</div> 
</div>     
</body>
</html>