<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag ('public') %>
<%# I have moved the style tag to assets/stylesheets/egypt%>
</head>
<body>
<div id="container"> 
<div id="header">
    <div id="logos"><a href="www.google.com" title="6-cylinder" target="_self" id="logo">this is great</a> </div> 
      <div id="banner"> 

    </div> 
       <div id="navbar"> 
         <ul>
           <li><a href="about.html" title="about" target="_self">بحث</a></li>
           <li><a href="new.html"> جديد </a></li>
           <li><a href="repaired.html" title="repaired" target="_top">مستعمل </a></li>
           <li><a href="repaired.html"> خدمات </a></li>
           <li><a href="petrom.html"> بنزين </a></li>
           <li><a href="insurance.html"> تأمين</a></li>
         </ul>
      </div> 
</div> 
<%= yield %>
<div id="footer"> 
     <div id="nav">  

    </div> 
      <div id="social media"> 

    </div> 
       <div id="contact"> 

    </div>
    <%= javascript_include_tag('public')  %>
</div> 
</div>     
</body>
</html>